@nilmod {
    /* There is no id field. The filename defines the id of the mod. */
    name: "NilClassic-API";
    description: "A Minecraft Classic API for NilLoader.";
    authors: "kneelawk";
    version: "${version}";
}

entrypoints {
    /* premain is the only entrypoint defined by NilLoader itself. */
    premain: "com.kneelawk.nilclassicapi.impl.client.premain.NilClassicAPIPremain";
}
